__pycache__
*.pyc

# models
DE2EN
ENGINE_IWSLT14DEEN.zip
ENGINE_IWSLT14DEEN

# data processing and model output
PATH_YOUR_OUTPUT
iwslt14.tokenized.de-en
#LOGS

# original data
orig

# subrepos
mosesdecoder
subword-nmt
